/bin/app_debug/build-GitAutoFetchDemo-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/
/bin/app_debug/build-GitAutoFetchDemo-Desktop_Qt_6_6_1_MinGW_64_bit-Release/
/bin/app_debug/GitAutoFetchDemo/CMakeLists.txt.user
